atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
Django==2.2.1
docx==0.2.4
idna==2.8
Js2Py==0.63
lxml==4.3.3
more-itertools==7.0.0
pdfminer3k==1.3.1
Pillow==8.1.1
pluggy==0.11.0
ply==3.11
py==1.8.0
PyExecJS==1.5.1
pyjsparser==2.7.1
PyMuPDF==1.16.9
PyPDF2==1.26.0
pytest==4.5.0
python-docx==0.8.10
pytz==2019.1
requests==2.21.0
six==1.12.0
sqlparse==0.3.0
tzlocal==1.5.1
urllib3==1.24.3
wcwidth==0.1.7
